<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Add User</title>
        </head>
        <body>
            <form method="post" action="post_user">
                <label>Username:</label>
                <input type="text" id="username" name="username">

                <label>Email:</label>
                <input type="email" id="email" name="email">

                <input type="submit" />
            </form>

        {% for user in myUsers %}
            <ul>
                <li>{{ user.id }}. {{ user.username }} - {{ user.email }}</li>
            </ul>
        {% endfor %}

        {{ oneItem.username }}
        </body>
</html>